<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user.fname}}'s Wall</title>
</head>
<body>
    <div>
        <div>
            <header style="display: flex; justify-content: space-between;">
                <h1>Coding Dojo Wall</h1>
                <h3>Welcome {{user.fname}}</h3>
                <a href="/logout"> Log Out</a>
            </header>
        </div>
        <div>
            <form style="display: block;" name="wall_post_form" id="wall_post_form" action="/post_message" method="POST">
                {%csrf_token%}
                <label for="wall_post">Post a message</label><br>
                <textarea name="wall_post" id="wall_post" cols="117" rows="3"></textarea><br>
                <button name="wall_post_form">Post Message</button>
            </form>
        </div>
        {% for message in messages%}
        <div>
            <ul style="list-style: none;"><p>{{message.writer.fname}} {{message.writer.lname}} - {{message.created_at}}</p>
                <li style="margin-left: 40px; width: 800px;">{{message.wall_post}}</li>
               
                {% for comment in message.message_comments.all%}
                    <ul style="list-style: none;"><p>{{comment.writer.fname}} {{comment.writer.lname}} {{comment.created_at}}</p>
                        <li style="margin-left: 40px; width: 600px;">{{comment.comment_post}}</li>
                    </ul>
                    
                {% endfor %}
                <form style="display: block; margin-left: 80px; width: 800px;" name="post_comment_form" id="post_comment_form" action="/post_comment" method="POST">
                    {%csrf_token%}
                    <label for="post_comment">Post a comment</label><br>
                    <textarea name="post_comment" id="post_comment" cols="100" rows="3"></textarea><br>
                    <input type="hidden" value="{{message.id}}" name="message_id" id="message_id">
                    <button name="post_comment_form">Post comment</button>
                </form>
            </ul>
        </div>
        {% endfor %}
    </div>
</body>
</html>