<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div>
        <div>
            <h1>TV show #</h1>
            <a href="/">Go Back</a>
        </div>
        <p>Title:</p>
        <p>Network:</p>
        <p>Release Date:</p>
        <p>Description:</p>
        <p>Last Updated:</p>
    </div>
    <div>
        <a href="">Edit</a><a href="">Delete</a>
    </div>
</body>
</html>