<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user.fname}}'s Trip Buddy Dashboard</title>
</head>
<body>
    <div>
        <div>
            <header style="display: flex; justify-content: space-between;">
                
                <h1>Welcome {{user.fname}}!</h1>
                <button><p><a href="/add_new_trip">Create New trip</a></button>  |  <a href="/logout"> Log Out</a></p>
            </header>
            {% if messages %}
        
            {% for message in messages%}
                <p style="color: red;">**{{message}}**</p>
            {% endfor %}
        
        {% endif %}
            <div>
                <h1>Your Trips</h1>
                <div>
                    <table>
                        <tr>
                            <th>Destination</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Plan</th>
                            <th>Actions</th>
                        </tr>
                    
<hr>
<hr>
                    
                        {% for trip in user_trips %}
                        <tr>
                            <td><a href="/view_trip/{{trip.id}}">{{trip.destination}}</a></td>
                            <td>{{trip.id}}</td>
                            <td>{{trip.start_date}}</td>
                            <td>{{trip.end_date}}</td>
                            <td>{{trip.plan}}</td>
                            <td><a href="/delete/{{trip.id}}">Remove</a> | <a href="/edit_trip/{{trip.id}}">Edit</a> </td>
                        </tr>
                        {% endfor %}
                    </table>
                        <hr>
                        <h4>Trips you are going on</h4>
                        <hr>
                        <table>
                        {% for trip in other_trips %}
                        <tr>
                            <td><a href="/view_trip/{{trip.id}}">{{trip.destination}}</a></td>
                            <td>{{trip.id}}</td>
                            <td>{{trip.start_date}}</td>
                            <td>{{trip.end_date}}</td>
                            <td>{{trip.plan}}</td>
                            <td><a href="/leave_trip/{{trip.id}}">Cancel</a> </td>
                        </tr>
                        {% endfor %}
                    </table>
                    <br>
                    <br>
                    <br>
                    <h3>Other Peoples trips:</h3>
                    <table style="border: 3px solid black;">
                        {% for trip in open_trips %}
                    <tr>
                        <td><a href="/view_trip/{{trip.id}}">{{trip.destination}}</a></td>
                        <td>{{trip.id}}</td>
                        <td>{{trip.start_date}}</td>
                        <td>{{trip.end_date}}</td>
                        <td>{{trip.plan}}</td>
                        <td><a href="/join_trip/{{trip.id}}">Join</a> </td>
                    </tr>
                    {% endfor %}
                        <hr>
                </table>
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>