<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit {{trip.destination}}</title>
</head>
<body>

    <div class="body_div">
        <div>
            <h1>Hello {{user.fname}}! Let's edit the {{trip.destination}} trip</h1>
            <a href="/logout">Logout</a>
            {% if messages %}
        
            {% for message in messages%}
                <p style="color: red;">**{{message}}**</p>
            {% endfor %}
        
        {% endif %}
        <form action="/process_edit_trip/{{trip.id}}" method="POST" id="process_edit_trip">
            {%csrf_token%}
            <label for="destination">Destination:</label>
                <input name="destination" id="destination" type="text" value="{{trip.destination}}">
            <div>
                <label for="start_date">Start Date:</label>
                    <input required name="start_date" id="start_date" type="date" value="{{trip.start_date |date:'Y-m-d'}}" >  
                    <br>
                <label for="end_date">End Date:</label>
                    <input required name="end_date" id="end_date" type="date" value="{{trip.end_date |date:'Y-m-d'}}">
                    <br>
                <label for="plan">Plan:</label>

                <br>
                    <textarea name="plan" form="process_edit_trip" id="plan" cols="30" rows="10" placeholder="Enter plan here...">{{trip.plan}}</textarea>
                    <br>
                <button form="process_edit_trip">Submit Edit</button>
            </div>
        </form>
        <form action="/cancel">
            <button>Cancel</button>
        </form>
    </div>
</body>
</html>