<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Book and Review</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="body_div">
        <div>
            <h1>Add a New Book and Review</h1>
            <a href="/">Go Back</a>
        </div>
        {% if messages %}
        
            {% for message in messages%}
                <p>**{{message}}**</p>
            {% endfor %}
        
        {% endif %}
        <form action="/add_book" method="POST" id="add_book">
            {%csrf_token%}
            <label for="title">Title:</label>
                <input name="title" id="title" type="text">
            <div>
                <label for="fname">Author's First Name:</label>
                    <input name="fname" id="fname" type="text"><br>
                <label for="lname">Author's Last Name:</label>
                    <input name="lname" id="lname" type="text"><br>
                    <label for="select_author">Select Author</label>
                        <select name="select_author" id="select_author">
                            <option value="Authors.ID">Author Name</option>
                        </select>
                        <br>
                <label for="review">Review:</label><br>
                    <textarea name="review" id="review" cols="60" rows="10"></textarea>
                        <br>
                    <label for="rating">Rating</label>
                    <select name="rating" id="rating">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
            </div>
                <button>Add</button>
            </form>
    </div>
</body>
</html>