<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
    <div class="main_div">
        <div>
            <h1>Add a Book</h1>
            <form action="/newbook" id="add_book_form" method="POST">
                {%csrf_token%}
                <label for="book_title">Title:</label>
                    <input name="book_title" type="text">
                <label for="book_desc">Description:</label>
                    <textarea name="book_desc" id="" cols="30" rows="10"></textarea>
                <button>Add</button>
            </form>
        </div>
        <div>
            <table>
                <tr class="table_head">
                    <th>ID</th>
                    <th>Title</th>
                    <th>Action</th>
                </tr>
                {% for book in book_model%}
                <tr>
                    <td>{{book.id}}</td>
                    <td>{{book.title}}</td>
                    <td><a href="/book/{{book.id}}">View</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div></div>
</body>
</html>