<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Profile</title>
	{% load static %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>
<body>
	<table>
		<tr>
			<th>Name</th>
			<th>Gym</th>
			<th>Skill</th>
			<th>Muscle Group</th>
		</tr>
		<!-- loop -->
		<tr>
			<td>rendered info</td>
			<td>rendered info</td>
			<td>rendered info</td>
			<td>rendered info</td>
		</tr>
		<!-- loop -->
	</table>
	
</body>
</html>